<div class="container-fluid">
  <header>
    <div class="row d-none d-md-flex py-2" id="header-top-row">
      <div class="col-9 d-flex">
        <span> <i class="fa fa-user mr-1"></i>My Account</span>
        <span class="ml-4"> <i class="fa fa-heart mr-1"></i>Wish List (0)</span>
        <a [routerLink]="['/cart']">
          <span class="ml-4">
            <i class="fa fa-cart-arrow-down mr-1"></i>Shopping Cart</span
          >
        </a>
        <a [routerLink]="['/checkout']">
          <span class="ml-4">
            <i class="fa fa-share-square-o mr-1"></i>Checkout</span
          >
        </a>
      </div>
      <div class="col-3 d-flex justify-content-lg-end">
        <span>USD<i class="fa fa-angle-down ml-1"></i> </span>
        <span class="ml-4">English<i class="fa fa-angle-down ml-1"></i> </span>
      </div>
    </div>
    <div class="row d-lg-flex justify-content-lg-end px-13">
      <div class="col text-center col-1 pt-3 d-none" id="currency">
        <div>
          <ul class="list-unstyled">
            <li>€ EURO</li>
            <li class="my-1">£ POUND</li>
            <li>¥ YEN</li>
          </ul>
        </div>
        <div>
          <ul class="list-unstyled">
            <li>USD</li>
            <li class="my-1">UK</li>
            <li>GERMAN</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row d-flex py-3" id="header-middle-row">
      <div class="col-12 d-flex d-lg-flex align-items-center col-md-4">
        <i class="fa fa-phone mr-2"></i>
        <span>
          <span class="d-block font-weight-bold">1 800 444 4444</span>
          <span class="d-block">We are opened 9am to 10pm</span>
        </span>
      </div>
      <div
        class="col-12 d-flex justify-content-center col-md-4 my-3 m-md-0"
        id="mid-col"
      >
        <a [routerLink]="['/home']">
          <img
            class="d-lg-flex justify-content-lg-center"
            src="assets/img/logo.png"
        /></a>
      </div>
      <div class="col-12 col-md-4">
        <div class="row">
          <div class="col-12 d-flex justify-content-between">
            <a [routerLink]="['/login']" *ngIf="!isLoggedIn">
              <span> <i class="fa fa-share-square-o mr-1"></i>Login</span>
            </a>
            <a (click)="logout()" *ngIf="isLoggedIn">
              <span> <i class="fa fa-share-square-o mr-1"></i>Logout</span>
            </a>
            <span> <i class="fa fa-lock mr-1"></i>Register</span>
            <span>
              <i class="fa fa-shopping-cart mr-1"></i>
              <span class="badge badge-primary d-block">4</span>
            </span>
          </div>
          <div class="col-12 mt-3">
            <div class="input-group">
              <div class="input-group-prepend"></div>
              <input class="form-control" type="text" />
              <div class="input-group-append">
                <button class="btn btn-primary" type="button">
                  <i class="fa fa-search"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col px-0">
        <nav class="navbar navbar-light navbar-expand-lg d-lg-flex">
          <div class="container-fluid">
            <button
              data-toggle="collapse"
              class="navbar-toggler"
              data-target="#navcol-1"
            >
              <span class="sr-only">Toggle navigation</span>
              <i class="fa fa-bars"></i>
            </button>
            <div
              class="collapse navbar-collapse d-lg-flex justify-content-lg-center"
              id="navcol-1"
            >
              <ul class="nav navbar-nav d-lg-flex px-2 mb-2">
                <li class="nav-item" role="presentation">
                  <a [routerLink]="['/home']" class="nav-link active">HOME</a>
                </li>
                <li class="nav-item" role="presentation">
                  <a class="nav-link">ABOUT</a>
                </li>
                <li class="nav-item" role="presentation">
                  <a class="nav-link">BLOG</a>
                </li>
                <li class="nav-item" role="presentation">
                  <a class="nav-link">SHOP</a>
                </li>
                <li class="nav-item" role="presentation">
                  <a class="nav-link">MENS</a>
                </li>
                <li class="nav-item" role="presentation">
                  <a class="nav-link">WOMENS</a>
                </li>
                <li class="nav-item" role="presentation">
                  <a class="nav-link">ACCESSORIES</a>
                </li>
                <li class="nav-item" role="presentation">
                  <a class="nav-link">PAGES</a>
                </li>
                <li class="nav-item" role="presentation">
                  <a class="nav-link">CONTACT</a>
                </li>
              </ul>
            </div>
          </div>
        </nav>
      </div>
    </div>
  </header>
</div>
