<app-header></app-header>
<div class="container">
    <app-section-header></app-section-header>

    <app-message></app-message>

    <div class="section d-none d-md-block mt-5">
        <div class="row d-flex">
            <div class="col">PRODUCT</div>
            <div class="col-md-3">NAME</div>
            <div class="col-md-2 text-md-right">PRICE</div>
            <div class="col-md-2 text-md-center">QUANTITY</div>
            <div class="col-md-2 text-md-right">TOTAL</div>

        </div>
    </div>
    <div class="section mt-4 cart-table" *ngFor="let item of cart.products">
        <div class="row mb-2">
            <div class="col">
                <img class="img-fluid" src="assets/img/{{item.product.images[0]}}" style="width: 5rem;">
            </div>
            <div class="col-12 col-md-3">
                <span class='d-block font-weight-bold'>{{item.product.name}}</span>
                <span class='d-block'>Size:
                    {{item.size}}</span>

                <span class='d-block'>
                    <a (click)="deleteItem(item.product._id, item.size)">
                        <i class="fa fa-trash-o c-red"></i>
                    </a>
                </span>

            </div>
            <div class="col-12 col-md-2 text-md-right">
                <span class="d-md-none">Price:
                </span>
                <span>{{item.product.price | currency:'USD':'symbol-narrow'}}</span>
            </div>
            <div class="col-12 col-md-2 text-md-center">
                <span class="d-md-none">Qty:
                </span>
                <span>{{item.quantity}}</span>
            </div>
            <div class="col-12  col-md-2 text-md-right">
                <span class="d-md-none">Total:
                </span>
                <span>{{item.product.price * item.quantity | currency:'USD':'symbol-narrow'}}</span>
            </div>

        </div>
    </div>

    <div class="section mt-4">
        <div class="row">
            <div class="col-12 col-md-6">
                <div class="row">
                    <div class="col-12 col-md-6 mb-2 mb-md-0 d-flex justify-content-center">
                        <button type="button" class="btn btn-outline-secondary action-btn" [routerLink]="['/home']">CONTINUE SHOPPING</button>
                    </div>
                    <div class="col-12 col-md-6 d-flex justify-content-center">
                        <button type="button" class="btn btn-outline-secondary action-btn" (click)="clearCart()">CLEAR CART</button>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 mt-4 mt-md-0 pr-md-0">
                <div class="row mb-2 d-flex justify-content-center justify-content-md-end">
                    <div class="col-6 col-md-2 d-flex justify-content-center">
                        <span>Tax</span>
                    </div>
                    <div class="col-6 col-md-2 d-flex justify-content-center">
                        <span>{{getTax() | currency:'USD':'symbol-narrow'}}</span>
                    </div>
                </div>
                <div class="row mb-2 d-flex justify-content-center justify-content-md-end">
                    <div class="col-6 col-md-2 d-flex justify-content-center ">
                        <span>Subtotal</span>
                    </div>
                    <div class="col-6 col-md-2 d-flex justify-content-center ">
                        <span>{{getSubtotal() | currency:'USD':'symbol-narrow'}}</span>
                    </div>
                </div>
                <div class="row mb-2 d-flex justify-content-center justify-content-md-end">
                    <div class="col-6 col-md-2 d-flex justify-content-center ">
                        <span class='font-weight-bold'>Total</span>
                    </div>
                    <div class="col-6 col-md-2 d-flex justify-content-center ">
                        <span class='font-weight-bold c-red'>{{getTotal() | currency:'USD':'symbol-narrow'}}</span>
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-12 d-flex justify-content-center justify-content-md-end">
                        <button type="button" [routerLink]="['/checkout']" class="btn btn-outline-secondary action-btn black-btn">CHECKOUT</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<app-footer></app-footer>