$primary: #ef5656;

.star {
    font-size: 1.5rem;
    color: rgb(204, 204, 204);;
  }
  .star2 {
    font-size: 1.5rem;
    color: rgb(204, 204, 204);;
  }
  .filled {
    color: $primary;
  }
  .bad {
    color: #deb0b0;
  }
  .filled.bad {
    color: #ff1e1e;
  } 

  .strike-through {
    text-decoration: line-through;
}